.FormFlavors {
  &__top {
    margin-bottom: 40px;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;

    @include responsive($dsS_max) {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &__bottom {
    &--prices {
      margin-bottom: 20px;

      h2 {
        @include font(34, 700);
        color: $white;
      }
    }

    display: flex;
    flex-direction: column;
    align-items: center;
  }
}