* {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6, p, a, span, strong {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: $black;
}

button {
  background-color: transparent;
  border: 0;
  outline: 0;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  background-color: transparent;
  border: 0;
  outline: 0;
}