.FormSize {
  width: 100%;

  &__list {
    margin-bottom: 40px;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;

    @include responsive($dsS_max) {
      grid-template-columns: repeat(2, 1fr);
    }

    @include responsive($mbB_max) {
      grid-template-columns: 1fr;
    }
  }

  &__actions {
    display: flex;
    justify-content: center;
  }
}