.TabsMenu {
  max-width: 768px;
  width: 100%;
  border-radius: 10px;
  overflow: hidden;

  display: flex;

  button {
    flex: 1;
    padding: 20px;
    background-color: $white;
    border: 1px solid $gray_l;
    @include font(16, 600);
    transition: all ease .5s;
    cursor: pointer;

    &:hover {
      background-color: $white_d;
    }

    &.active {
      background-color: $white_d;
    }

    &.blocked {
      cursor: not-allowed;
    }

    @include responsive($mbB_max) {
      padding: 20px 10px;
    }
  }
}