/*---------- DEFAULT COLORS ----------*/
$primary: #922B21;
// $secondary: #900C3F;
// $third: #C70039;
// $quaternary: #FF5733;
// $quintenary: #FFC300;

/*---------- NAME COLORS ----------*/
$black: #000;
$white: #FFF;
$gray: #999;

/*---------- NAME COLORS VARIANTS ----------*/

$black_v: #444444;
$white_v: #F9F9F9;
$gray_v: #565656;

/*---------- NAME COLORS LIGHT AND DARK ----------*/

// LIGHT
$black_l: #222;
$gray_l: #BBB;

// DEFAULT - LIGHT
$primary_l: #B44D43;
// $secondary_l: #B22E5F;
// $third_l: #E9225B;
// $quaternary_l: #FF7955;
// $quintenary_l: #FFE522;

// DARK
$white_d: #DDD;
$gray_d: #777;

// DEFAULT - DARK
$primary_d: #700900;
// $secondary_d: #700A1D;
// $third_d: #A50017;
// $quaternary_d: #DD3511;
// $quintenary_d: #DDA100;